div.workArea {
    color: gray;
    font-weight: bold;
    font-size: 16px;
}

a {
    color: gray;
}
a:hover {
    text-decoration: none;
    color: lightseagreen;
}

ol a {
    color: darkslategray;
    font-weight: bold;
    font-size: 16px;
}

ol a:hover {
    text-decoration: none;
    color: cornflowerblue;
}